.seven-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Four equal columns */
    gap: 10px; /* Space between items */
  }

  .grid-item {
    padding: 20px;
    text-align: center;
}


.four-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 10px; /* Space between items */
  }

  .three-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 10px; /* Space between items */
  }


.two-container {
    display: grid;
    background-color: #1d7807;
    grid-template-columns: repeat(2, 1fr); /* Three equal columns */
    gap: 15px; /* Space between items */
}


